:root {
  --red: #c73b0f;
  --green: #1ea94c;

  --rose-900: #260f08;
  --rose-500: #87635a;
  --rose-400: #ad8a85;
  --rose-300: #caafa7;
  --rose-100: #f5eeec;
  --rose-50: #fcf8f6;

  --font-main: "Red Hat Text", sans-serif;
  --fw-normal: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-main);
  background-color: var(--rose-50);
  color: var(--rose-900);
  line-height: 1.5;
  padding: 10px;
}
.container {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: auto;
  align-items: start;
}

.main-title {
  display: flex;
  font-size: 2.5rem;
  margin: 10px;
  border-bottom: 1px solid var(--rose-500);
}
.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}
.product-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
}
.product-card:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}
.product-image-container {
  position: relative;
  margin-bottom: 10px;
}
.product-image-container > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
  transition: transform 0.3s ease;
}
.product-image-container > img:hover {
  transform: scale(1.05);
}
.add-to-cart-btn,
.qty-selector {
  position: absolute;
  left: 50%;
  bottom: -15px;
  width: 150px;
  height: 40px;
  background-color: var(--rose-400);
  border-radius: 20px;
  transform: translateX(-50%);
  background: white;
  display: flex;
  font-weight: var(--fw-semibold);
  justify-content: center;
  align-items: center;
  border: 1px solid var(--rose-400);
  z-index: 10;
  cursor: pointer;
  transition: all 0.5s ease;
}
.add-to-cart-btn:hover {
  color: var(--red);
}
.qty-selector {
  justify-content: space-around;
  background-color: var(--red);
  color: white;
}
.qty-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 1px 2px;
}
.qty-btn:hover {
  color: var(--red);
  background-color: white;
}
.product-info {
  padding: 10px 6px;
}
.product-category {
  font-size: 0.8rem;
  color: var(--rose-400);
}
.product-name {
  font-size: 1.2rem;
  margin: 4px 0;
  font-weight: var(--fw-semibold);
}
.product-price {
  font-weight: var(--fw-semibold);
  color: var(--red);
}
/* Cart Sidebar */
.cart-container {
  background-color: white;
  padding: 10px;
  margin: 20px 10px;
  border-radius: 16px;
  max-height: calc(100vh - 40px);
  position: sticky;
  top: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto
}
.cart-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--rose-500);
  padding: 10px;
  font-weight: var(--fw-bold);
}
.cart-title > span {
  margin: 0 10px;
}

.empty-cart {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 9px;
  border-bottom: 1px solid var(--rose-100);
  border-radius: 8px;
  margin: 8px 0;
}
.cart-item-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}
.item-details {
  flex: 1;
  font-size: 1rem;
}
.item-name {
  font-weight: var(--fw-semibold);
  padding-bottom: 12px;
}
.item-meta {
  display: flex;
  gap: 10px;
}
.item-qty {
  color: var(--red);
  font-weight: var(--fw-bold);
}
.item-price {
  color: var(--rose-400);
}
.item-subtotal {
  color: var(--rose-500);
  font-weight: var(--fw-semibold);
}
.remove-item {
  background: transparent;
  border: none;
  color: var(--rose-300);
  font-size: 1.2rem;
  padding: 10px;
}
.remove-item:hover {
  color: red;
}
.order-total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--rose-400);
  margin-top: 18px;
  padding-top: 10px;
  font-size: 1.2rem;
  font-weight: var(--fw-bold);
}
.confirm-btn {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 16px;
  font-size: 1.05rem;
  margin-top: 14px;
  border: 1px solid var(--red);
  border-radius: 26px;
  background: none;
  color: var(--red);
}
.confirm-btn:hover {
  background: var(--red);
  color: white;
  transition: all 0.5s ease;
}
.hidden {
  display: none !important;
}
.modal {
  position: fixed;
  inset: 0;
  z-index: 20;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.modal-content {
  background: white;
  border-radius: 12px;
  width: 100%;
  padding: 40px;
  max-width: 500px;
  text-align: center;
}
.modal-content > i {
  display: flex;
  color: var(--green);
  margin: auto;
  justify-content: center;
  font-size: 5rem;
  margin-bottom: 10px;
}
.modal-items-container {
  background: var(--rose-50);
  max-height: 300px;
  border-radius: 8px;
  padding: 10px;
  overflow-y: auto;
  margin-top: 10px;
}
.modal-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--rose-100);
  padding: 12px 0;
}
.modal-item-left {
  display: flex;
  align-items: center;
}
.modal-item-img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 12px;
}
.modal-item-name {
  font-weight: var(--fw-semibold);
}
.modal-total-section {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  align-items: center;
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
}
@media (max-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
